@CHARSET "UTF-8";

.head{
	height:60px;
	position: relative;
	width:100%;
}

.head a{
	text-decoration: none;
	padding: 0 5px 0 5px;
	font-weight: bold;
}

.head a:HOVER{
	background-color:rgb(44, 124, 124);
	font-weight: bold;
	color:white;
}