@CHARSET "UTF-8";

#divcontent{
	width:60%;
	padding: 30px;	
	height:500px;
}

/*表格*/
#divcontent td{
	line-height: 15px;
	height:30px;
	padding-left: 10px;
	
}

/*错误的验证信息*/
.errormessage{
	color:red;
}

/*验证验证码的CSS样式*/
.valiImg {
	font-size:16px;
	font-weight:bold;
	position: relative;
	left:160px;
	height:100px;
}

/*注册验证的盒子*/
.determine{
	position: relative;
	left:200px;
	top:50px;
}